.nav{
	background-color: #2b79b9;
	color: rgb(175, 81, 81);
	list-style-type: none;
	overflow: hidden;
}

.nav li{
	float: right;
	list-style-type: none;
}

.nav h1{
	text-align: center;
}

.nav li a{
	color: rgb(71, 23, 23);
	text-decoration: none;
	display: block;
	text-align: right;
	padding: 14px 16px;
	font-size: 20px;
}

.nav li a:hover {
  background-color: rgb(155, 154, 190);
}